/* @import "~bootstrap/scss/bootstrap.scss"; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e9edf5;
  min-height: 100vh;
  gap: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form{
  background-color: black;
  border-radius: 5px;
  height: 80vh;
  margin: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.form>h1{
  grid-column: 1 / -1;
}

.form-1 .text-box{
  height: 25px;
  outline: none;
}
.form-1 .input-label{
  margin: 10px;
  font-weight: bold;
}

.btn{
  background-color: white;
  padding: 7px 30px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

.cube{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: crimson;
}