.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dog-rect, .dog-circl{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  gap: 20px;
  flex-direction: column;
}

.dog-rect h1, .dog-rect h2{
  margin: 0;
}

.line{
  display: flex;
  flex-direction: row;
}

.dog-rect h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dog-circl{
  border-radius: 50%;
  background-color: white;
  color: black;
}