.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(red, yellow);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tvenkinys{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.daiktas{
  border: 2px solid white;
}

.daiktas h1{
  background-color: white;
  color: black;
  margin: 5px 0;
  text-align: justify;
}

.daiktas h1:first-child,
.daiktas h1:last-child{
  margin: 0;
}